/** 你若安好，便是晴天 **/
/* html {
    filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    -webkit-filter: grayscale(100%);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    html {
        -webkit-transform: translateZ(0);
    }
} */
.hero {
    background: #333;
    color: #fff;
    display: block;
    padding: 6em;
}
.hero-left {
    display: inline-block;
    width: 50%;
    margin: 0;
    text-align: center;
}
.hero-right {
    display: inline-block;
    float: right;
    width: 50%;
    margin: 0;
    transition: 2s all ease;
}
@media (max-width: 600px) {
    .hero {
        padding: 3em;
    }
    .hero-left, .hero-right {
        display: block;
        width: 100%;
        margin: 1em 0;
    }
}
.hero-right#loading {
    opacity: 0;
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
    transform: translateX(40px);
}
.hero-img {
    width: 90%;
    display: inline-block;
    transition: 2s all ease;
}
.hero-logo {
    margin-top: 2em;
    width: 75%;
}
.img-blooming#loading {
    opacity: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.hero-logo#loading {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
}
.site-nav {
    transition: 2s all ease;
}
.site-nav#loading {
    opacity: 0;
}
.color-dark {
    background: #333 !important;
}
.no-border {
    border: 0 !important;
}
.hero .page-link {
    color: #fff;
}
.avatar-heading {
    height: 2em;
    margin: 0 .3em;
}
.call2action {
    display: block;
    font-size: 1.5em;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 1.4em;
    color: #fff !important;
    line-height: 2em;
    transition: .3s ease all;
}
.call2action:hover {
    color: #333 !important;
    background: #fff;
    text-decoration: none;
}
.learn-more {
    display: block;
    text-align: center;
    color: #fff !important;
}
.learn-more::after {
    content: '》';
    font-size: .7em;
    line-height: 1em;
    margin: 0 .2em;
}
.content-block {
    margin-top: 2em;
    margin-bottom: 2em;
}
.content-block>img {
    max-width: 800px;
    width: 100%;
}
.bg-blue {
    background: #2196F3;
}
.bg-blue>h2, .bg-blue>p {
    color: rgba(255,255,255,0.87);
}
.bg-green {
    background: #4CAF50;
}
.bg-green>h2, .bg-green>p {
    color: rgba(0,0,0,0.87);
}
.bg-indigo {
    background: #3F51B5;
}
.bg-indigo>h2, .bg-indigo>p {
    color: rgba(255,255,255,0.87);
}
