<!DOCTYPE html>
<html>

    {% include head.html %}

    <body onload="load()">
        <div class="hero">
            <div class="wrapper">
                <nav class="site-nav text-white color-dark no-border" id="loading">
                    <a href="#" class="menu-icon">
                        <svg viewBox="0 0 18 15">
                            <path fill="#FFFFFF" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
                            <path fill="#FFFFFF" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
                            <path fill="#FFFFFF" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
                        </svg>
                    </a>
                    <div class="trigger">
                        {% for page in site.pages %}
                        {% if page.navtitle %}
                        {% if page.current %}
                        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.navtitle }}</a>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </nav>
            </div>
            <div class="wrapper">
                <div class="hero-left">
                    <img src="{{ "/img/2016/artworks/blooming.svg" | prepend: site.cdn }}?bust={{ site.time | date: '%s' }}" alt="Blooming" id="loading" class="hero-img img-blooming">
                    <img src="{{ "/img/logo.svg" | prepend: site.cdn }}?bust={{ site.time | date: '%s' }}" alt="TEDxYinzhouSeniorSchool" id="loading" class="hero-img hero-logo">
                </div>
                <div class="hero-right" id="loading">
                    <h1>Blooming</h1>
                    <h2>2016 年 5 月 21 日</h2>
                    <h3>宁波鄞州高级中学</h3>
                    <p>
                        告别禁锢思想的时代，发出属于自己的声音，传播值得传播的思想。
                    </p>
                    <a class="call2action" href="/2016/review">活动回顾</a>
                    <!-- <a class="learn-more" href="/speakers/">了解讲者</a> -->
                </div>
            </div>
        </div>
        <div class="page-content">
            <div class="wrapper">
                {{ content }}
            </div>
            <div class="wrapper">
                <h4>What is TEDx?</h4>
                <p>In the spirit of ideas worth spreading, TED has created a program called TEDx. TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. Our event is called TEDxYinzhouSeniorSchool, where x = independently organized TED event. At our TEDxYinzhouSeniorSchool event, TEDTalks video and live speakers will combine to spark deep discussion and connection in a small group. The TED Conference provides general guidance for the TEDx program, but individual TEDx events, including ours, are self-organized.</p>
            </div>
        </div>
        {% include footer.html %}
        <script src="{{ "/js/main.js" | prepend: site.cdn }}?bust={{ site.time | date: '%s' }}"></script>
    </body>

</html>
